:root { 
    --black: #000000;
    --charlotte: #b7edf8;
   
    --font-size-l: 30px;
    --font-size-m: 24px;
    --font-size-s: 20px;
    --font-size-xs: 16px;
    --font-size-xxs: 12px;
   
    --font-family-annie_use_your_telescope: "Annie Use Your Telescope", Helvetica;
  }
  .annieuseyourtelescope-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-annie_use_your_telescope);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
  }
  